.tour-card {
  max-width: 300px;
  width: 300px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.306);

  background: white;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
  margin: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex: 0 0 300px;
  
}

.tour-card:hover {
  cursor: pointer;

  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.048);
}

.tour-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
  position: relative;
  transition: all 0.2s ease;
  
}
.shadow {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.244), rgba(50, 50, 50, 0.24),rgba(0, 0, 0, 0.893));
  transition:  all  0.6s ease;
}

.tour-card:hover  .tour-image .shadow {
  border: 1px solid #28b2ed;
  background: linear-gradient(to bottom, rgba(32, 32, 32, 0.379), rgba(0, 0, 0, 0.731),rgba(0, 0, 0, 0.909));
}
/* .tour-card:hover .tour-details {
  color: #ffffff;
  bottom: 100%;
} */


.tour-details {
  position: absolute;
  padding: 16px;
  bottom: 0;
  z-index: 3;
  left: 0;
  color:#ddd;
  transition: all 0.3s ease;
}

.tour-details h3 {
  font-size: 1.1rem;
  margin: 8px 5px 25px;
  padding-bottom:15px ;
  color: #ffffff;
  border-bottom: 2px solid #28b2ed;
  
}
/* .tour-details h3:hover{
  text-decoration: underline;
  color: #007bff;
} */

.tour-info {
  list-style: none;
  padding: 0;
  margin: 0 0 12px;
  font-size: 15px;
  color: #ffffff;
  height: auto;
  overflow: hidden;
   transition: all 0.2s;
   
}



.tour-info li {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.price {
  color: #ffffff;
  font-size: 0.9rem;
  margin-bottom: 14px;
  
}

.price strong {
  font-size: 1.1rem;
  color: #28b2ed;
}
.buttons-container{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  position: relative;
}

a .reserve-button {
  width: 130px;
  height: 35px;
  padding: 5px;
  border: 0px; 
  
  background-color: #44be3d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: absolute;
  bottom: -60px;
  left:0px;
  transition: all 0.6s ease;
}

.tour-card:hover  .reserve-button {
  background-color: #0098b3;
  border-radius: 6px;;
  bottom: -30px;
  left: 60px;
}


.edit,.view,.delete{
  width: 300%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

.view{
  background-color: #4ec943;
}
.view i{
  color:white;
}
.edit{
  background-color: rgb(247, 109, 59);
}
.delete{
  background-color: rgb(247, 55, 55);
}
.edit:hover,.view:hover,.delete:hover{
  transform: scale(1.1);
}
.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  .arrow {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  .tour-card {
    /* 🔹 aquí ya SÍ la hacemos más pequeña de verdad */
    max-width: 200px !important;
    width: 200px !important;
    flex: 0 0 220px !important;
    margin: 10px !important;
    height: auto;

    transform: scale(0.9);
    transform-origin: center;
  }

  .tour-image img {
    height: 300px; 
  }
  .tour-card:hover > .tour-image .shadow {
    height: 300px;
  }

  .tour-details {
    padding: 10px;
    
  }
  .tour-info{
    display: none;
  }
  .reserve-button{
    position:static;
    bottom:0 ;
  }
  .tour-card:hover  .reserve-button {
  background-color: #0098b3;
  border-radius: 6px;;
  bottom: -30px;
  left: 20px;
}
}