.tour-card {
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.164);
  background: white;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
  margin: 15px;
  font-family: sans-serif;
  flex: 1 1 300px;
}

.tour-card:hover {
  cursor: pointer;

  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.tour-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: all 0.2s ease;
}
.tour-card:hover>.tour-image img {
  transform: scale(1.1);
}

.tour-details {
  padding: 16px;
}

.tour-details h3 {
  font-size: 1.1rem;
  margin: 8px 0 12px;
  color: #222;
  
}
.tour-details h3:hover{
  text-decoration: underline;
  color: #007bff;
}

.tour-info {
  list-style: none;
  padding: 0;
  margin: 0 0 12px;
  font-size: 0.9rem;
  color: #555;
  height: auto;
  overflow: hidden;
   transition: all 0.2s;
   
}



.tour-info li {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.price {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 14px;
  
}

.price strong {
  font-size: 1.1rem;
  color: #14ac06;
}
.buttons-container{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

.reserve-button {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.reserve-button:hover {
  background-color: #0fb300;
  transform: scale(1.03);
}

.edit,.view,.delete{
  width: 300%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

.view{
  background-color: #4ec943;
}
.view i{
  color:white;
}
.edit{
  background-color: rgb(247, 109, 59);
}
.delete{
  background-color: rgb(247, 55, 55);
}
.edit:hover,.view:hover,.delete:hover{
  transform: scale(1.1);
}