.footer{
    width: 100%;
    padding: 10px;
    background-color:  #17223A;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: -50px;
    height: auto;
}
.logo img{
    
    margin: 10px;
    width: 160px;
    height: 160px;
    margin: 0px auto;
}
.logo {
    min-width: 240px;
    display: block;
    text-align: center;
    
}
.logos{
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    font-size: 25px;
}

.footer .contacto{
    width: 270px;
}
.footer a{
    color: white;
    text-decoration: none;
}
.menu h2{
    margin-bottom: 10px;
    text-align: center;
}
.menu ul {
    display:flex;
    flex-direction: column;
    
    gap: 8px;
    list-style: none;
    text-align: center;

}
.menu ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.contacto {
    width:300px;
}
.contacto h2{
    margin-bottom: 10px;
    text-align: center;
    
}
.contacto ul{
    display:flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin-bottom: 8px;
}
.contacto ul li{
    margin-top: 5px;
    text-align: center;
}
.contacto ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer .noticias{
    width: 270px;
    display: block;
}
.noticias h2{
    margin-bottom: 20px;
    text-align: center;

}
.noticias h4{
    margin-bottom: 10px;
    text-align: center;
}
.noticias input{
    height: 40px;
    width: 220px;
    margin: 20px 0px;
    font-size: 18px;
    padding: 8px;
    border-radius: 7px;
    border: none;
}
.noticias button{
    height: 40px;
    width: auto;
    padding: 8px;
    background-color: #08ACEF;;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    border: none;
}
.derechos{
    background-color: #17223A;
    width: 100%;
    height: 60;
    padding: 18px;
    display: flex;
    justify-content: center;
    gap:30px;
    color:white;
    font-family: sans-serif;
    border-top: 1px solid gray;
    flex-wrap: wrap;
    
}
.derechos p{
    text-align: center;
   
}
.svg{
    min-height: 50px;
    
}

@media (max-width: 768px) {
    .svg{
        display: none;
        
    }
    .footer{
        margin-top: 40px;
    }
}

/* .titulo{
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2;
    position: absolute;
  padding: 50px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    font-size: 45px;

    width: 100%;
    height: auto;;
    align-items: center;
    font-weight: 800;
    
    margin: 200px auto;
    
    

}

.titulo ul{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 20px;
  list-style: none;
  border-top: 1px solid rgb(66, 150, 253);
  width: fit-content;

  margin: 20px auto 0;
}
.botones-hero{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.botones-hero button{


  border: none;
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
  font-size: 23px;
  cursor: pointer;
}
.botones-hero button a{
  text-decoration: none;
  color: inherit;
}
.btn-reservar-hero{
  background-color: #3fabf8;
    color: white;
}
.btn-whatsapp-hero{
  background-color: #25d366;
  color: rgb(43, 43, 43);
} */