.footer{
    width: 100%;
    padding: 10px;
    background-color:  #17223A;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: -50px;
    height: auto;
}
.logo img{
    border-radius: 45%;
    margin: 10px;
    width: 160px;
    height: 165px;
    margin: 0px auto;
}
.logo {
    min-width: 240px;
    display: block;
    text-align: center;
    
}
.logos{
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    font-size: 25px;
}

.footer .contacto{
    width: 270px;
}
.footer a{
    color: white;
    text-decoration: none;
}
.menu h2{
    margin-bottom: 10px;
    text-align: center;
}
.menu ul {
    display:flex;
    flex-direction: column;
    
    gap: 8px;
    list-style: none;
    text-align: center;

}
.menu ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.contacto {
    width:300px;
}
.contacto h2{
    margin-bottom: 10px;
    text-align: center;
    
}
.contacto ul{
    display:flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin-bottom: 8px;
}
.contacto ul li{
    margin-top: 5px;
    text-align: center;
}
.contacto ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer .noticias{
    width: 270px;
    display: block;
}
.noticias h2{
    margin-bottom: 20px;
    text-align: center;

}
.noticias h4{
    margin-bottom: 10px;
    text-align: center;
}
.noticias input{
    height: 40px;
    width: 220px;
    margin: 20px 0px;
    font-size: 18px;
    padding: 8px;
    border-radius: 7px;
    border: none;
}
.noticias button{
    height: 40px;
    width: auto;
    padding: 8px;
    background-color: #08ACEF;;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    border: none;
}
.derechos{
    background-color: #17223A;
    width: 100%;
    height: 60;
    padding: 18px;
    display: flex;
    justify-content: center;
    gap:30px;
    color:white;
    font-family: sans-serif;
    border-top: 1px solid gray;
    flex-wrap: wrap;
    
}
.derechos p{
    text-align: center;
   
}
.svg{
    min-height: 50px;
    
}

@media (max-width: 768px) {
    .svg{
        display: none;
        
    }
    .footer{
        margin-top: 20px;
    }
}