.container{
    width: 100%;
    height: auto;
    /* position: absolute;
    z-index: 8;
     */
}


.info_header{
    width: 100%;
    background-color: #08ACEF;
    
    
}
.info_header a{
  text-decoration: none;
  color: white;
}
.ubication{
  display: flex;
  gap: 10px;
}
.info_header ul{
    padding: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    gap: 0px;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: sans-serif;
    list-style: none;
    flex-wrap: wrap;
    height: auto;
}
.info_header ul li{
    margin-top:5px;
}


.header a{text-decoration: none;
    color: rgb(56, 56, 56);}

.header{
    width: 100%;
    height: 530px;

    background-color: rgba(192, 20, 20, 0);
    background-image: url("../assets/paisaje_hero2.png");
    background-size: cover;
    border-bottom: 1px black;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    gap: 80px;
    position: relative;
    flex-wrap: wrap;
  
    
}
.header .boton{
    position: absolute;
    z-index: 3;
    left:15px;
    top:30px;
    background-color: rgba(35, 35, 35, 0.308);
    border-radius: 40%;
    font-size: 40px;
    color: #08ACEF;
    display: none;
    transition: all 0.3s;
    
}
.voltear{
  
    transform: rotate(180deg);

}
.header img{
  margin-top: 10px;

    width: 110px;
    height: 110px;

    
}
.header ul {
    width: auto;
    display: flex;
    margin-top: 70px;
    height: fit-content;
    align-items: center;

    gap: 30px;
    color: black;
    list-style: none;
    font-weight: bolder;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
}
.header ul li{
  height: fit-content;
}
.header ul li a:hover{
    color: #08ACEF;
    transition: all 0.3s;
    

}
.header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header h3{
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.header h3 i{
    color: #08ACEF;
}

.header .button{
    height: 54px;
    width: 110px;
    padding: 15px;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 5px;
     font-weight:600;
    font-size: 15px;
    font-family: sans-serif;
    transition: all 0.3s;
    background-color: white;
    cursor: pointer;
    
}
.header .button:hover{
    background-color: #08ACEF;
    border-color: #08ACEF;
    transition: all 0.3s;
    color: rgb(255, 255, 255);
}
.close_sesion{
  height: 54px;
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 5px;
     font-weight:600;
    font-size: 15px;
    font-family: sans-serif;
    transition: all 0.3s;
    background-color: rgb(228, 58, 58);
    cursor: pointer;
    color: white;
}
.close_sesion:hover{
  background-color: red;
  transform: scale(1.1);
}
.greeting{
  position: absolute;
  top: 50%;
  left: 30%;;
  margin: 0px auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  color: #08ACEF;
  

  font-size: 50px;

}
.greeting p{
  color: rgb(255, 255, 255);
  
}

.titulo{
    color: rgb(255, 255, 255);
    text-align: center;
    /* z-index: 2;
    position: absolute; */

  padding: 50px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    font-size: 45px;

    width: 100%;
    height: auto;;
    align-items: center;
    font-weight: 800;
    /* margin-top:150px; */

    
    

}

.titulo ul{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 20px;
  list-style: none;
  border-top: 1px solid rgb(66, 150, 253);
  width: fit-content;
  color: white;;

  margin: 20px auto 0;
}
.botones-hero{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.botones-hero button{


  border: none;
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
  font-size: 23px;
  cursor: pointer;
}
.botones-hero button a{
  text-decoration: none;
  color: inherit;
}
.btn-reservar-hero{
  background-color: #3fabf8;
    color: white;
}
.btn-whatsapp-hero{
  background-color: #25d366;
  color: rgb(255, 255, 255);
  
}
.btn-whatsapp-hero i{
  margin-right: 10px;
}
/* Tablets y pantallas medianas (<= 1024px) */
@media (max-width: 1024px) {
    .info_header{
        height: auto;
        flex-wrap: wrap;
    }
  .header {
    gap: 30px;
    height: auto;
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  .titulo{
    display: none;
  }

  .header ul li{
    gap: 20px;
    font-size: 20px;
  }
  

  .header .button {
    height: 45px;
    width: 90px;
    font-size: 14px;
    display: none;
  }


  .header h3 {
    margin-top: 20px;
    font-size: 18px;
    display: none;
  }
}

/* Teléfonos grandes y pantallas pequeñas (<= 768px) */
@media (max-width: 768px) {
  .greeting{
    position: relative;
    font-size: 20px;;
    left: 0;
  }
  .info_header ul {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }


  .header {
    flex-direction: column;
    min-height: 100px;
    
    align-items: center;
    
    background-size: cover;
    background-repeat: no-repeat;
      background-position: center;

    
    gap: 20px;
    padding: 10px;
  }
  .header .boton{
        display: block;
    }
    .header ul{
        display: flex;
        flex-direction: column;
        height:0px ;
        overflow: hidden;
        transition: all 0.3s ease;
    }

  .header .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
   justify-content: center;
    
    transition: all 0.3s ease;
    height: auto;
    overflow: hidden;
    transition: all 0.3s;


  }
  

  .header h3 {
    margin-top: 10px;
    font-size: 18px;
  }

  .header .close_sesion {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 12px;
    font-size: 15px;
    margin-top: 10px;
  }
}


/* Dispositivos pequeños (<= 480px) */
@media (max-width: 480px) {
  
    .header .boton{
        display: block;
    }
    
  .info_header ul {
    
    font-size: 12px;
    gap: 4px;
    padding: 8px;
    
  }

  .header ul {
    font-size: 14px;
  
  }

  .header button {
    font-size: 14px;
    padding: 10px;
  }
 
  .header h3 {
    font-size: 16px;
  }
}
