/* Capa para ubicar el dropdown sobre todo */
.tours-mega-overlay {
  position: absolute;
  left: 0;
  top: 100px; /* altura de tu header */
  width: 100%;
  z-index: 9999;
}

/* Caja blanca como la de tu imagen */
.tours-mega {
  background: #fff;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12);
  padding: 26px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Grid de columnas */
.tours-mega-grid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;

}

.tours-mega-title {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0 0 14px 0;
  color: #3aa0f9;
  font-weight: 800;
}
.tours-mega-col {
    display: block;
  margin: 10px 0;

   width: 30%;
}

.tours-mega-list {
    list-style: none;
  padding: 0;

  background-color: rgb(255, 255, 255);
 

  flex-direction: column;
  justify-content: space-around;

  

}



.tours-mega-link {
  display: block;
  width: 100%;              /* ocupa todo el ancho de la columna */
  white-space: nowrap;      
  overflow: hidden;         /* oculta lo que se pase */
  text-overflow: ellipsis;  /* muestra ... */
  

  font-family: sans-serif;
  font-size: 15px;
  color: #7a7a7a;
  transition: all 0.2s ease;
  margin-top: 8PX;;

}

.tours-mega-link:hover {
  color: #08ACEF;
  transform: translateX(2px);
}

.tours-mega-loading,
.tours-mega-empty {
  font-family: sans-serif;
  color: #4b5563;
}

/* Responsive: baja columnas */
@media (max-width: 1024px) {
  .tours-mega-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .tours-mega-overlay {
    display: none; /* en móvil lo dejamos apagado (tú ya tienes menú colapsable) */
  }
}