
.tour-page {
    margin: 15px;
  display: flex;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
}

.tour-main {
  flex: 2;
  min-width: 300px;
}
.titulo_tour{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    width: 100%;
    justify-content: flex-start;
    gap: 20%;
    padding: 0px 0px;
    flex-wrap: wrap;

}
.titulo_tour p{
    font-size: 20px;
    color: #007fc9;
    margin-bottom: 5px;
    font-weight: 500;
    
}
.titulo_tour h1{
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    color: #021841;
   
  }
  .titulo_tour span{
    display: block;
    width: 100px;
    height: 3px;
    background-color: #007fc9;
    border-radius: 2px;  
    margin-top: 15px;
   }
.titulo_tour .precio{
  margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background-color: #08ACEF;
    height: fit-content;
    width: fit-content;
}
.tour-gallery {
  margin-bottom: 20px;
}

.main-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  cursor: zoom-in;
  transition: 0.3s;
}

.thumbnail-row {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.7;
  transition: transform 0.3s, opacity 0.3s;
  border: 2px solid transparent;

}

.thumbnail:hover,
.thumbnail.selected {
  transform: scale(1.05);
  opacity: 1;
  border-color: #08ACEF;
}

.tour-info-block {
  margin-top: 20px;
  font-size: 20px;
}

.tour-icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin:20px 0px;
}
.tour-icons div{
    display: flex;
    gap:8px;
    align-items: center;
    border-right: 0px solid rgb(197, 197, 197);
    padding-right: 8px;
    color: #464646;
}
.tour-icons div i{
  border: 1px solid #525252; padding: 5px; border-radius: 7px;
    transform: scale(1.4);
    color: #007bff;
    margin-right: 4px;
}
.lista_incluidos{
    list-style: none;
    padding: 10px;
    
}
.lista_incluidos li{
    margin-bottom: 3px;
    color: gray;

}
.lista_incluidos li i{
    color: rgb(3, 128, 24);
    background-color: rgba(23, 255, 34, 0.308);
    border-radius: 70%;
}
.lista_recomendaciones{
    list-style: none;
    padding: 10px;
    
}
.lista_recomendaciones li{
    margin-bottom: 3px;
    color: gray;

}
.lista_recomendaciones li i{
    color: rgb(255, 147, 46);
    background-color: rgba(243, 194, 32, 0.308);
    border-radius: 70%;
}
.tour-sidebar {
 flex: 0.7;
  min-width: 340px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
  height: fit-content;
  border: 1px solid rgb(197, 197, 197);
  position: sticky;
  top: 30px;
  align-self: flex-start;
  
}
.tour-sidebar .titulo_calendario{
    color: #007bff;
    /* text-align: center; */
    /* z-index: 2; */
    /* position: absolute; */
    /* margin-top: 80px; */
    font: 25px sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;


    
    
}

.tour-reservation label {
  font-weight: bold;
  display: block;
  margin-top: 5px;
  color: rgb(75, 75, 75);
}

.adult-counter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 0px;
  
}

.adult-counter div {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.adult-counter button {
  padding: 4px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #007bff;
  color: #007bff;
}
.adult-counter button:hover{
    background-color: #007bff;
    border: 1px solid #007bff ;
    padding: 4px 10px;
    font-size: 16px;
    color: #ffffff;
}
.container_bold{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.reserve-btn {
  margin-top: 10px;
  background: #007bff;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
.tour-message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: block;
  font-weight: bold;
}
.tour-message img{
  margin-top: 20px;
}
.tour-message .phone{
  color: #007bff;
}

.reserve-btn:hover {
  background: #0b72e0;
  transform: scale(1.01);
}

/* Estilo general del DatePicker */
.react-datepicker-wrapper {
  width: 100%;
  

}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: sans-serif;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.1s ease;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border: 1px solid #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  
}

/* Estilo del popup del calendario */
.react-datepicker {
  border-radius: 12px;
  border: 1px solid #ddd;
  font-family: sans-serif;
  font-size: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 5px 30px;
  
  
}

.react-datepicker__header {
  background-color: #f0f8ff;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-weight: bold;
  color: #007bff;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: white;
  border-radius: 50%;

}

.react-datepicker__day:hover {
  background-color: #e0f0ff;
  border-radius: 50%;
}
.tour-reservation select {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-family: sans-serif;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  cursor: pointer;
}

.tour-reservation select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(8, 172, 239, 0.3);
}

.tour-reservation .input{
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 8px;

}
.extras{
  width: 100%;
  margin: 10px 0px;
  height: 22px;

  overflow: hidden;
  transition: all 0.3s;
  

}
.activo{
  height: fit-content;
}
.extra{
  width: 100%;
  display: flex;
  


  margin: 8px;
  
}
.extra p{
  color: rgb(83, 83, 83);
  font-size: 16px;
  font-weight: 500;
  width: 70%;
  height: auto;
}
.precios-extra{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.extras label {
    margin-right: 8px;
    color: #007bff;
}
.label-activo{
    font-weight: bold;
    color: #4b4b4b;
}
.extra input{
  width: 30px;
  height: 30px;
  font-size: 15px;
  padding: 0px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #505050;
}
.extra small{
    font-size: 14px;
    color: rgb(95, 95, 95);
    text-align: center;
    margin-top: 5px;

}
.extra input:focus{
    outline: none;
   border: 2px solid #007bff;
}
.extra p{
  font-size: 17px;
}
.tour-info-block h2,.container_descripcion h2{
  font-size: 23px;
    color:#4b4b4b
}
.container_descripcion{
    width: 90%;
}
.descripcion_tour{
    padding: 10px;
    font-size: 20px;
    color: #616161;
    text-align: start;
}

.container_logos{
    margin-top: 40px;
    border-top: 1px solid rgb(196, 196, 196);
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.img_logo{
    max-width: 200px;
}
.precio {
    display: flex;
    justify-content: space-between;
    color: rgb(66, 66, 66);
}
.total{
   margin-top: 8px;
   
}
.disable{
  background-color: #4b4b4b;
  text-decoration: line-through;
}
.disable:hover{
  background-color: #4b4b4b;
}
.recepcion{
  margin-top: 5px;
}
.main-image-container {

  align-items: center;
  justify-content: center;
   width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  cursor: zoom-in;
  transition: 0.3s;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-190%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  z-index: 10;
}

.nav-arrow.left {
  left: 10px;
}

.nav-arrow.right {
  right: 10px;
}

.nav-arrow:hover {
  background: rgba(0, 0, 0, 0.151);
}
.btn-link{
    background: none;
    border: none;
    color: #007bff;
    
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}
.btn-link:hover{
    text-decoration: underline;
}
.terminos-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem; /* espacio entre checkbox y texto */
  margin-top: 5px;
  font-size: 14px;
}

.check-terminos {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-top: 5px;
}

.link-terminos {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  background: none;
  border: none;
  font-size: 14px;
}

.link-terminos:hover {
  color: #0056b3;
}

.itinerario h3 {
  margin-bottom: 12px;
}

.it-item {
  display: flex;
  gap: 14px;
}

.it-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.it-icon {
  width: 36px;
  height: 36px;
  background: #1c91ff;
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 16px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.it-dots {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.it-dots span {
  width: 7px;
  height: 7px;
  background: #929292;
  border-radius: 50%;
}

.it-content strong {
  display: block;
}

.it-content p {
  margin: 0;
  font-size: 13px;
  color: #444;
}
@media (max-width: 480px){
    .tour-page{
        padding:0px;
    }

    .tour-sidebar {
 flex: 1;
  min-width: 320px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.274);
  height: fit-content;
  border: 1px solid rgb(197, 197, 197);
  position: sticky;
  top: 30px;
  align-self: flex-start;
  transform: scale(0.9);
}
.descripcion_tour{
    max-height: 250px;
    overflow: auto;
}

}